---
layout: main
---
{% capture about %}{% include_relative _contents/_about.md %}{% endcapture %}
{{about | markdownify}}

<h3>News</h3>
<div class='news'>
{% for post in site.posts %}
    <ul class="news">
    {% if post.ptype == "news" %}
      <li><b>{{post.stringdate}}</b>: {{post.text}}</li>
    {% endif %}
    </ul>
{% endfor %}
</div>


<h1><a id="publications">Publications</a></h1>
{% for post in site.posts %}
    {% if post.ptype == "publication" %}
    <div class="list-work">
      <a href="{{post.paper-link}}">
        <img src="{{site.url}}/{{post.image}}"> <!-- Image is mandatory for publications -->
      </a>
      <span>
      <div><big><b>{{post.title}}</b></big></div>
      <div><i>{{post.authors | replace: "Pizzati, F.", "<b>Pizzati, F.</b>"}}</i></div>
      <div><i>{{post.where}}, <b>{{post.year}}</b></i></div>
      {% for elem in post.res-list %}
      <span><a href="{{elem.res-link}}">[{{elem.res-title}}]</a></span>
      {% endfor %}
      </span>
    </div>
    <hr>
    {% endif %}
{% endfor %}

<h1><a id="teaching">Teaching</a></h1>
{% for post in site.posts %}
  {% if post.ptype == "teaching" %}
    <div class="list-work">
      {% if post.image != nil %}
        {% if post.image-link == nil %}
        {% assign post.image-link = "#" %}
        {% endif %}
        <a href="{{post.img-link}}">
          <img src="{{site.url}}/{{post.image}}">
        </a>
      {% endif %}
      <span>
      <div><big><b>{{post.title}}</b></big></div>
      {% if post.description != nil %}
      {{post.description}}
      {% endif %}
      <div><i>{{post.where}}, <b>{{post.year}}</b></i></div>
      {% for elem in post.res-list %}
      <span><a href="{{elem.res-link}}">[{{elem.res-title}}]</a></span>
      {% endfor %}
      </span>
    </div>
    <hr>
  {% endif %}
{% endfor %}
